[submodule "vendor/color-theme-solarized"]
	path = vendor/color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "vendor/rvm"]
	path = vendor/rvm
	url = https://github.com/senny/rvm.el.git
